// Specific CSS for your home-page
.text-row-content {
  display: flex;
  align-items: center;
  h4 {
    color: $red;
  }
  .home-page-text {
    margin: 50px;
  }
}
.banner-content {
  h1 {
    color: $red;
  }
  .input {
    width: 280px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    height: 40px;
    color: $red !important;
  }
}
.collection-input {
  color: $red !important;
}
::placeholder {
  color: $red;
}
#home-page-header {
  color: $red;
  margin: 100px;
  text-align: center;
  font-weight: bold;
}
.home-page-container {
  width: 900px;
  margin: 0 auto;
  align-items: center;
}
