.profile-container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile {
  width: 350px;
  height: 500px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
  border-radius: 15px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  position: relative;
}
.profile-header {
  height: 50%;
  width: 350px;
  h3 {
    position: absolute;
    left: 150px;
    top: 50px;
    color: #F4F4F4;
  }
}
.profile-footer {
  height: 50%;
  width: 350px;
}
.felt {
  background: #ff6b6b;
  width: 350px;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
.profile-image {
  position: absolute;
  left: 75px;
  top: 150px;
}
.dashboard-calendar {
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
  width: 600px;
  height: 500px;
}
.edit-profile-button {
  width: 190px;
  position: absolute;
  left: 75px;
  bottom: 50px
}
