.dashboard-header {
  color: $red;
  margin-bottom: 50px;
}
.profile-container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile {
  width: 350px;
  height: 500px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
  border-radius: 15px;
  display: flex;
  text-align: center;
  position: relative;
}
.profile-header {
  height: 50%;
  width: 350px;
  h3 {
    position: absolute;
    left: 150px;
    top: 50px;
    color: #F4F4F4;
  }
}
.profile-footer {
  height: 50%;
  width: 350px;
}
.felt {
  background: #ff6b6b;
  width: 350px;
  height: 100%;
  border-radius: 15px 15px 0px 0px;
}
.profile-image {
  position: absolute;
  left: 75px;
  top: 150px;
}
.dashboard-calendar {
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
  width: 600px;
  height: 500px;
  .calendar-title {
    color: $white;
  }
  a {
    color: $white;
    text-decoration: none !important;
    opacity: 1;
      &:hover {
      color: $white;
      text-decoration: none !important;
      opacity: 0.8;
    }
  }
}
.edit-profile-button {
  width: 190px;
  position: absolute;
  left: 75px;
  bottom: 50px
}
.subject-container {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile-subjects {
  width: 1000px;
  height: 200px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
  border-radius: 15px;
  padding: 20px;
  .subjects-header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(62, 9, 11, .3);
    h4 {
      text-align: left;
      padding: 20px;
      color: $red;
    }
  }
}
.subjects {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  li {
    list-style: none;
    padding: 20px;
  }
}

