.tutor-show-banner {
  color: white;
  text-align: left;
  background-position: center;
  height: calc(50vh - 30px);
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutor-show-banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.tutor-show-banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.tutor-show-btn {
  color: $red;
  text-decoration: none;
  color: white;
  opacity: 1;
  &:hover {
    color: $red;
    text-decoration: none;
    color: white;
    opacity: 0.8;
  }
}

.tutor-show-back {
  text-decoration: none;
  color: $red;
  margin-top: 30px;
}

.tutor-show-content {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.tutor-show-details {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border: 1px solid #EBEBEB;
  background: #fff;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  border-radius: 15px;
  .tutor-show-text {
    padding: 20px;
    width: 400px;
    margin-left: 50px;
    h2 {
      color: $red;
    }
  }
}

.tutor-show-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 30px;
  margin-right: 70px;
}

.tutor-booking-form {

}

.tutor-calendar {
  margin: 40px 0;
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
  height: 500px;
  border-radius: 15px;
  .calendar-title {
    color: $white;
  }
  a {
    color: $white;
    text-decoration: none !important;
    opacity: 1;
      &:hover {
      color: $white;
      text-decoration: none !important;
      opacity: 0.8;
    }
  }
}
.booking-card {
  .input {
    width: 350px;
  }
}
.avatar {
  border-radius: 50%;
}

