<div class="banner" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 50%), url('https://images.unsplash.com/photo-1527153818091-1a9638521e2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5fce4ce8856a711cc50a14e03e58783a&auto=format&fit=crop&w=1158&q=80');">
  <div class="banner-content">
    <h1>Tutors 4 u</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <%= form_tag users_path, method: :get do %>
      <div class="formy">
        <div class="inputs">

          <%= collection_select(:subject, :subject_id, Subject.all, :id, :name) %>

          <%= text_field_tag :location,
            params[:location],
            class: "input",
            placeholder: "Choose a location...",
            input_html: { id: "address" } %>
        </div>
        <div class="sumbitter">
          <%= submit_tag "Submit", class: "button" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<p>Some text about the service that Tutor to go provides</p>
<div class="text-row-content">
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Congue litora cursus vestibulum viverra faucibus tempus, est nulla pretium sagittis fusce.</li>
    <li>Natoque ullamcorper ornare himenaeos porta vivamus, enim sagittis vehicula.</li>
    <li>Fusce dapibus auctor vulputate venenatis, ultrices pulvinar ad.</li>
  </ul>
  <img src="https://picsum.photos/500/300/?random" alt="what we do 1">
</div>
<br>
<br>
<div class="text-row-content">
  <img src="https://picsum.photos/500/300/?random" alt="what we do 1" >
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Congue litora cursus vestibulum viverra faucibus tempus, est nulla pretium sagittis fusce.</li>
    <li>Natoque ullamcorper ornare himenaeos porta vivamus, enim sagittis vehicula.</li>
    <li>Fusce dapibus auctor vulputate venenatis, ultrices pulvinar ad.</li>
  </ul>
</div>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV6xp4RMjrJEp-OvESBj2mY0-qB0P3kl0&libraries=places&callback=initMap"
        async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd3V-62uvhlhcDtJ4NQNjZe21t_-_sapE&libraries=places&callback=initMap"
        async defer></script> -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV6xp4RMjrJEp-OvESBj2mY0-qB0P3kl0&libraries=places"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd3V-62uvhlhcDtJ4NQNjZe21t_-_sapE&libraries=places"></script> -->
