<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1527153818091-1a9638521e2a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5fce4ce8856a711cc50a14e03e58783a&auto=format&fit=crop&w=1158&q=80');">
  <div class="banner-content">
    <h1>Tutor To Go</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>

    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
</div>
<p>Some text about the service that Tutor to go provides</p>
<div class="text-row-content">
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Congue litora cursus vestibulum viverra faucibus tempus, est nulla pretium sagittis fusce.</li>
    <li>Natoque ullamcorper ornare himenaeos porta vivamus, enim sagittis vehicula.</li>
    <li>Fusce dapibus auctor vulputate venenatis, ultrices pulvinar ad.</li>
  </ul>
  <img src="https://picsum.photos/500/300/?random" alt="what we do 1">
</div>
<br>

<div class="text-row-content">
  <img src="https://picsum.photos/500/300/?random" alt="what we do 1" >
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Congue litora cursus vestibulum viverra faucibus tempus, est nulla pretium sagittis fusce.</li>
    <li>Natoque ullamcorper ornare himenaeos porta vivamus, enim sagittis vehicula.</li>
    <li>Fusce dapibus auctor vulputate venenatis, ultrices pulvinar ad.</li>
  </ul>
</div>
