// newUserSubject = "<li><%= @user_subject </li>"

// function refreshForm(innerHTML) {
//   const newUserSubjectForm = document.getElementById('new_user_subject');
//   newUserSubjectForm.innerHTML = innerHTML;
// }

// function addUserSubject(reviewHTML) {
//   const userSubjects = document.getElementById('userSubjects');
//   userSubjects.insertAdjacentHTML('beforeend', reviewHTML);
// }

// addUserSubject('<%= j render "pages/show", user_subject: @user_subject %>')
// refreshForm('<%= j render "pages/form", user_subject: @user_subject, user_subject: UserSubject.new %>')
