.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    font-weight: bold;
    background-color: #F4F4F4;
  }
  .past {
    opacity: 0.6;
  }
  .future {}

  .start-date {}

  .prev-month {}
  .next-month {}
  .current-month {}

  .has-events {
    opacity: 1;
    background-color: #FDFFB9;
    opacity: 0.9;
  }

  .calendar-heading{
    text-align: center;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    background-color: #FF6B6B;
    font-size: 25px;
  }
}

.calendar{
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  width: 1200px;
  height: 550px;
  left: 35%;
  margin-left: -400px;
  margin-top: -225px;
  top: 50%;
  color: #333333;
}

