
.card-index {
  display: flex;
  align-content: center;
  width: 500px;
  height: 160px;
  border-radius: 2px;
  margin: 5px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.6)

}
p {
  color:black;
}
.left-card {
  width: 33%;
  position: relative;
  height: 100%;
}
.felt-index {
  background: #ff6b6b;
  width: 100%;
  height: 100%;
 // border-radius: 15px 15px 0px 0px;
}
.avatar-pos-index {
  position: absolute;
  bottom: 40px;
  left: 125px;
}
.card-name {
  position: absolute;
  bottom: 40px;
  left: 35px;
  text-align: center;
  font-size: 16px;
  h4 {
    color: black;
    margin-bottom: 0;

  }
}

.right-card {
  width: auto;
  position: relative;
  height: 100%;

}
.card-info {
  position: absolute;
  color: black;
  width: 250px;
  top: 0px;
  left: 50px;
  p {
    font-size: 13px;
  }
  h3 {
    margin: 5px 0;
  }

}
.card-btn {
  position: absolute;
  bottom: 5px;
  left: 230px;
  text-align: center;
}


