.card-index {
  display: flex;
  align-content: center;
  width: 500px;
  height: 160px;
  border-radius: 5px;
  margin: 10px 5px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}
p {
  color:black;
}
.left-card {
  width: 33%;
  position: relative;
  height: 100%;
}
.felt-index {
  background: #ff6b6b;
  width: 100%;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
}
.avatar-pos-index {
  position: absolute;
  bottom: 40px;
  left: 125px;
}
.card-name {
  position: absolute;
  bottom: 55px;
  left: 45px;
  text-align: center;
  font-size: 16px;
  h4 {
    color: $white;
  }
}
.right-card {
  width: auto;
  position: relative;
  height: 100%;

}
.card-info {
  position: absolute;
  color: black;
  width: 250px;
  top: 25px;
  left: 100px;
  p {
    font-size: 13px;
  }
  h5 {
    margin: 10px 0;
    font-weight: bold;
  }

}
.card-btn {
  height: 25px;
  position: absolute;
  bottom: 25px;
  left: 100px;
  text-align: center;
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
    color: $white;
  }
}


