.user-index-container {
  display: flex;
  align-content: center;
  margin: 0 auto;
  width: 1000px;
}
.card-container{
  height: 100vh;
  h3 {
    margin-top: 80px;
    margin-bottom: 40px;
    color: $red;
  }
}

#map-container {
  flex: 0 0 auto;
  width: 500px;
  margin-left: 530px;
  position: fixed !important;
  margin-top: 60px;
  height: calc(100vh - 70px);
}

.ol-overlaycontainer-stopevent {
height: 0px;
}

#map {
height: 100%;
}
